<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between align-items-center">
  <h1>Cocktails</h1>
  <%= link_to 'Create', new_cocktail_path  %>
</nav>

<div class="row">
  <div class="col">
    <p>All <%= Cocktail.count %> cocktails.</p>
  </div>
</div>



<div class="row justify-content-center">
  <% @cocktails.each do |cocktail| %>
  <div class="card m-3" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="text-center"><%= cocktail.name %></h5>
      <%= link_to 'One more dose', cocktail_path(cocktail)  %>
    </div>
  </div>
  <% end %>
</div>







