.cocktail-card {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: grid;
  grid-gap: 4px;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid yellow;
}

.cocktail-card:hover {
  background-color: black;
}

