.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.1s background-color ease;
  h1 {
    font-family: 'Bangers', cursive;
    font-size: 100px;
  }
}

.navbar-lewagon-white {
  background-color: black;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
